.constructor {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.constructorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100% - 140px);
    flex: 1;
}

.bunContainer {
    display: flex;
}

.stuffsContainer {
    overflow-y: auto;
    min-height: 80px;
    scroll-snap-type: y mandatory;
    scroll-padding: 4px;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--interface-input);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--text-secondary);
        border-radius: 3px;

        &:hover {
            background: var(--text-secondary);
        }

        &:active {
            background: var(--text-secondary);
        }
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background: var(--interface-input);
    }
    scrollbar-color: var(--text-secondary) var(--interface-input);
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: var(--text-secondary) var(--interface-input);
    }
}

.stuffsList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.orderSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}

.constructorHover {
    .stuffsContainer {
        outline: 2px dashed #4c4cff;
        border-radius: 40px;
    }
}

.bunPlaceholder {
    &Content {
        width: 100%;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--text-secondary);
        background-color: var(--background-element);

        &Top {
            border-radius: var(--top-constructor-item-border-radius);
        }

        &Bottom {
            border-radius: var(--bottom-constructor-item-border-radius);
        }
    }
}
.stuffsPlaceholder {
    min-height: 80px;
    margin-left: 32px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--text-secondary);
    border-radius: var(--common-border-radius-s);
    background-color: var(--background-element);
}
