.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--interface-modal-bg);
    border-radius: 40px;
    z-index: 11;
    min-width: 720px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
}

.title {
    margin: 0;
}

.closeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    transition: opacity 0.2s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
