.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.image {
    width: 240px;
    height: 120px;
    object-fit: contain;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    min-height: 48px;
    display: flex;
    align-items: center;
}
