.page {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 120px);
}

.container {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 60px;
    max-width: 1292px;
    width: 100%;
    padding: 120px 36px 0 36px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    width: 100%;
}
