.staffItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    scroll-snap-align: start;
    max-width: 568px;
    cursor: move;

    &:hover {
        opacity: 0.8;
    }
}

.dragIcon {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}
