:root {
  --interface-bg: #131316;
  --interface-modal-bg: #1c1c21;
  --interface-input: #2f2f37;
  --text-primary-light: #f2f2f3;
  --text-secondary: #8585ad;
  --text-disabled: #3a3a55;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--interface-bg);
  color: var(--text-primary-light);
}

.main {
  display: flex;
  flex: 1;
  gap: 40px;
  justify-content: center;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
