.header {
    box-sizing: border-box;
    background-color: var(--interface-modal-bg);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.leftSection {
    flex: 1;
    display: flex;
    gap: 8px;
}

.centerSection {
    display: flex;
    justify-content: center;
}

.rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid transparent;
    color: var(--text-secondary);
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

.linkActive {
    color: var(--text-primary);
}
